nav{
    text-align: center;
}
nav>ul{
    /* display: inline; */
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 15px;
    padding: 5px;
}

nav li>a {
    text-decoration: none;
    color: black;
}

nav li:hover{
    background-color: rgb(77, 77, 153);
}

footer{
    margin: 30px;
    text-align: center;
}
article{
    text-align: center;
}

article>section>p{
    text-align: justify;
}

label{
    display: block;
    margin-bottom: 10px;
}


table{
    border-collapse: collapse;
}
td,th{
    border: 1px solid black;
    padding: 5px 10px;   /*5px for top-bottom and 10px for left-right*/
}
